.backgroundContainer {
  
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include flexDispaly(column);

  $top-component-height: 35%;
  .top {
    height: $top-component-height;
    background-size: cover;
    background-image: url('/ip-address-tracker/pattern-bg-desktop.png');
  }

  .bottom {
    height: calc(100% - $top-component-height);
  }
}