.dropdownContainer {
  width: 196px;
  position: relative;
  @include roundCorner();

  .selectedItem {
    @include generalTheme($primary-element-color, $primary-color);
    @include flexDisplay(row);
    @include effectDropShadow();
    @include roundCorner();
    align-items: center;
    justify-content: space-between;
    border: none;
    height: 100%;
    width: 100%;
    width: 196px;
    box-sizing: border-box;
    padding: 0 $spacing-ml;

    &:hover {
      cursor: pointer;
    }
  }

  .dropdown {
    @include flexDisplay(column);
    @include roundCorner();
    @include effectDropShadow();
    @include generalTheme($primary-element-color, $primary-color);
    position: absolute;
    overflow: hidden;
    width: 196px;
    top: 72px;
    left: 0;
    z-index: 1;

  }

  span {
    padding: $spacing-sm $spacing-ml;
    &:first-child {
      padding-top: $spacing-md;
    }
    &:last-child {
      padding-bottom: $spacing-md;
    }
    &:hover {
      cursor: pointer;
      background-color: $primary-background-color;
    }
  }
}