@import './themes.module';
@import './mixins.module';

@import './navbar.module';
@import './mainPage.module';
@import './countryPage.module';
@import './dropdown.module';

// general styling

.body {
  @include generalTheme($primary-background-color, $primary-color);
  font-family: $primary-font;
  font-weight: 300;
}

.bodyMainPage {
  @extend .body;
  min-height: 100vh;
}

.bodyDetailPage {
  @extend .body;
  height: 100%;
}





.title {
  font-size: 28px;
  font-weight: 800;
}

.titleSmall {
  font-weight: 800;

  font-size: 20px;
  margin: 12px 0 !important;
}

.property {
  font-weight: 600;
  margin-right: $spacing-xs;
}








[data-theme='dark'] {
  $primary-background-color: $dm-very-dark-blue;
  $primary-color: $white;
  $primary-element-color: $dm-dark-blue;

  .bodyDetailPage,
  .bodyMainPage
  {
    @include generalTheme(
      $primary-background-color,
      $primary-color);
  }
  
}