$mobile-width: 375px;
$desktop-width: 1440px;

$spacing-3xl: 80px;
$spacing-2xl: 64px;
$spacing-xl: 48px;
$spacing-lg: 32px;
$spacing-ml: 24px;
$spacing-md: 16px;
$spacing-xmd: 12px;
$spacing-sm: 8px;
$spacing-xs: 4px;

$gap-s: 10px;

// colour
$dm-dark-blue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$dm-very-dark-blue: hsl(207, 26%, 17%); // (Dark Mode Background)
$very-dark-blue: hsl(200, 15%, 8%); // (Light Mode Text)
$dark-gray: hsl(0, 0%, 52%); // (Light Mode Input)
$very-light-gray: hsl(0, 0%, 98%); // (Light Mode Background)
$white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

$shadow-color: hsla(0, 0%, 0%, 0.1);

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
$primary-font: "Nunito Sans", sans-serif; // weights: 300, 600, 800

// ============================
$primary-background-color: $very-light-gray;
$primary-color: $very-dark-blue;
$primary-element-color: $white;